[include mainsail.cfg]
[auto_speed]
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_3F004D001950305148393220-if00
restart_method: command


[printer]
kinematics: cartesian
max_velocity: 500
max_accel: 5000
max_z_velocity: 25
max_z_accel: 100

[stepper_x]
step_pin: PE3
dir_pin: !PE2
enable_pin: !PE4
microsteps: 16
rotation_distance: 35.92
endstop_pin: !PA15
position_endstop: 0
position_max: 210
homing_speed: 80

[tmc2209 stepper_x]
uart_pin:PD5
run_current:1.1

[stepper_y]
step_pin: PE0
dir_pin: !PB9
enable_pin: !PE1
microsteps: 8
rotation_distance: 40.77
endstop_pin: !PD2
position_endstop: 0
position_max: 210
homing_speed: 80

[tmc2209 stepper_y]
uart_pin:PD7
run_current:1.1

[stepper_z]
step_pin: PB5
dir_pin: PB4
enable_pin: !PB8
microsteps: 16
rotation_distance: 4.324
position_max: 250
position_min: -10
#position_endstop: 2.800
homing_retract_dist: 10
endstop_pin: probe:z_virtual_endstop

[tmc2209 stepper_z]
uart_pin:PD4
run_current:0.65

[extruder]
step_pin: PD6
dir_pin: PD3
enable_pin: !PB3
microsteps: 16
rotation_distance: 11.2
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PE5
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC1
min_temp: 0
max_temp: 280
max_extrude_cross_section: 10 # default 0.640
max_extrude_only_distance: 150.0 
 
[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
min_temp: 0
max_temp: 130

[heater_fan extruder_fan]
pin: PB1 # fan1
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[fan]
pin: PC14

[safe_z_home]

home_xy_position: 110,110

speed: 80

z_hop: 10 # Move up 10mm

z_hop_speed: 10

[bed_mesh]
speed: 500
horizontal_move_z: 5
mesh_min: 22, 25
mesh_max: 198, 195
probe_count: 5, 5
algorithm: bicubic

[gcode_arcs]
resolution: 1.0

[probe]
pin: ^PC8
x_offset: 5.0     # mm from nozzle to probe pin
y_offset: 10.0
#z_offset:  0        # temporary, will be calibrated later
speed:     5        # 2-5 mm/s helps repeatability
samples:   2
lift_speed: 30

[force_move]
enable_force_move: True 

[temperature_sensor Sceoan MCU]
sensor_type: temperature_mcu
min_temp: 10
max_temp: 100

[temperature_sensor Klipper Host]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[gcode_macro SPEED_TEST]
gcode:
  {% set SPEED = params.SPEED|default(100)|float %}
  {% set PADDING = params.PADDING|default(10)|float %}
  
  {% set FEEDRATE_MAX = SPEED * 60 %}
  {% set FEEDRATE_MIN = FEEDRATE_MAX / 2 %}

  {% set X_MAX = printer.configfile.settings.stepper_x.position_max - PADDING %}
  {% set Y_MAX = printer.configfile.settings.stepper_y.position_max - PADDING %}
  {% set Z_POS = printer.configfile.settings.stepper_z.position_max / 2 %}

  SET_DISPLAY_TEXT MSG="Speed test {SPEED}mm/s"
  RESPOND TYPE=echo MSG="Testing speed up to {SPEED}mm/s"
  SET_VELOCITY_LIMIT VELOCITY={SPEED}

  {% if "z" not in printer.toolhead.homed_axes %}
    G28
  {% endif %}
  G1 X{PADDING} Y{PADDING} Z{Z_POS} F10000

  {% for percentage in [0.5,0.6,0.7,0.8,0.9,1] %}
    {% set FEEDRATE = FEEDRATE_MAX * percentage %}
    RESPOND TYPE=echo MSG="Speed: {SPEED}mm/s F{FEEDRATE}"
    
    G1 X{PADDING} Y{PADDING} F{FEEDRATE}
    G1 X{X_MAX} Y{Y_MAX} F{FEEDRATE}
    G1 X{PADDING} Y{PADDING} F{FEEDRATE}
    G1 X{X_MAX} Y{Y_MAX} F{FEEDRATE}
    
    G1 X{PADDING} Y{Y_MAX} F{FEEDRATE}
    
    G1 X{X_MAX} Y{PADDING} F{FEEDRATE}
    G1 X{PADDING} Y{Y_MAX} F{FEEDRATE}
    G1 X{X_MAX} Y{PADDING} F{FEEDRATE}
    G1 X{PADDING} Y{Y_MAX} F{FEEDRATE}
  {% endfor %}

  G1 X{PADDING} Y{PADDING} Z{Z_POS} F10000
  RESPOND TYPE=echo MSG="Speed test completed"
  SET_VELOCITY_LIMIT VELOCITY={printer.toolhead.max_velocity}

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 68.723
#*# pid_ki = 1.418
#*# pid_kd = 832.413
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 47.907
#*# pid_ki = 9.678
#*# pid_kd = 59.285
#*#
#*# [stepper_z]
#*# position_endstop = 1.600
#*#
#*# [probe]
#*# z_offset = 1.330
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.017500, -0.010625, -0.020625, 0.001875, 0.041875
#*# 	  -0.013750, 0.018125, 0.050000, 0.125625, 0.208750
#*# 	  -0.021250, -0.019375, -0.010000, 0.060625, 0.125000
#*# 	  -0.020625, -0.023750, -0.020625, 0.040625, 0.096875
#*# 	  -0.024375, -0.016250, -0.025625, 0.023750, 0.082500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 22.0
#*# max_x = 198.0
#*# min_y = 25.0
#*# max_y = 195.0
